body{
    margin: 0;
    background-color: #000000;
    overflow-x: hidden;
}
.container{
    width: 80vw;
    margin: auto;
    display: flex;
    /* border: 2px solid blue; */
    
}
.header{
    /* border: 2px solid rgb(255, 0, 0); */
    background-color: black;
    display: flex;
}
.header .container{
    display: flex;

}
.logoIMG{
    width: 9vw;
}  
.header .container {
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style: none;
}




.loginBu{
    background-color: white;
    border: none;
    color: black;
    padding: 2.2vh 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid rgb(0, 0, 0);
    font-weight: 1000;
    border-radius: 8px ;
    cursor: pointer;
    transition-duration: 1s;
}
.loginBu:hover {
    background-color: #000000; 
    color: rgb(255, 255, 255);
    border:2px solid rgb(255, 255, 255);
  }
.cadastroBu{
    background-color: rgb(0, 0, 0);
    border: 2px solid white;
    color: rgb(255, 255, 255);
    padding: 2vh 1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 1000;
    border-radius: 8px ;
    cursor: pointer;
    transition-duration: 1s;

}
.cadastroBu:hover {
    background-color: #ffffff; 
    color: rgb(0, 0, 0);
    border:2px solid rgb(255, 255, 255);
  }
/* -------------------------------------------------------------------------------------------------------------------- */

.imgCorpo{
      display: flex;
      justify-content: space-between;
  }
.imagemC{
    display: flex;
    width: 100vw;
    height: 81vh;
    border-bottom: 1px solid #d3b8d4;
    border-top: 1px solid #d3b8d4;
}
.imagemCad{
    display: flex;
    width: 100vw;
    height: 110vh;
    border-bottom: 1px solid #d3b8d4;
    border-top: 1px solid #d3b8d4;
}
.impacto{
    display: flex;
    position: absolute;
    background: rgba(244,217,217,0.05);
    box-shadow: 2px 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    width: 27vw;
    border: 2px solid black;
    padding: 2px 4px;
    margin-top: 17vh;
    margin-left: 1vw;
}
.paragrafo{
    display: flex;
    color: white;
    font-size: 7vh;
    letter-spacing: 0.7vw;
    padding-left: 1vw;
}
p{
    display: flex;
    justify-items: center;
    align-items: center;
}
/* ---------------------------------------------------------------------------------------------------------------------------------- */
.footer {
    background-color: #000000;
    height: 9vh;
    color: #fff;
    display: flex;
    font-size: 1.2vw;
  }
  
  .footer .container {
    justify-content: space-around;
  }
  .footer .container ul li{
    margin-right: 20vh;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    border-bottom: rgb(255, 255, 255);
}
/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* barra de scrol diferente */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #CCCCCC;
}

::-webkit-scrollbar-track {
    background: #CCCCCC;
}
::-webkit-scrollbar-track-piece {
    background: #CCCCCC;
}
::-webkit-scrollbar-thumb {
    background: #333333;
}
/*--------------------------------------------------------------------------------------------------------------------------------------*/
/* Login */
.corpoloca .container{
    justify-content: center;
}
.cardLog{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.cards{
    width: 40vw;
    height: 70vh;
    display: flex;
    position: absolute;
    background: rgba(244,217,217,0.05);
    box-shadow: 2px 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border: 2px solid black;
    justify-content: center;
    color: #fff;
    margin-top: 5vh;
}
.cardLog input{
    height: 4vh;
    border-radius: 4%;
}
.alerta_erro{
    display: flex;
    justify-content: flex-end;
  }
  
  .card_erro {
    display: none;
    background-color: #fff;
    color: black;
    width: 230px;
    position: fixed;
    border-radius: 4px;
    border: #e6005a 3px solid;
    padding: 10px;
    margin-right: 10%;
  }
  
  .card_erro #mensagem_erro{
    font-weight: 500;
    font-size: 20px;
  }
  .loading-div {
    width: 50px;
    margin: auto;
    display: none;
  }
  
  .loading-div img {
    height: 50px;
    width: 50px;
  }
.botao{
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: rgb(0, 0, 0);
    border: none;
    color: rgb(255, 255, 255);
    padding: 2.2vh 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid rgb(0, 0, 0);
    font-weight: 1000;
    border-radius: 8px ;
    cursor: pointer;
    transition-duration: 1s;
}
.botao:hover {
    background-color: #ffffff; 
    color: rgb(0, 0, 0);
    border:2px solid rgb(0, 0, 0);
  }
  .cardscad{
    width: 40vw;
    height: 100vh;
    display: flex;
    position: absolute;
    background: rgba(244,217,217,0.05);
    box-shadow: 2px 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border: 2px solid black;
    justify-content: center;
    color: #fff;
    margin-top: 5vh;
}
