body{
    margin: 0;
    padding: 0;;
}
.container{
    width: 80%;
    margin: auto;
    display:flex;
}
.header{
    display:  flex;
    background-color: black;
    color: white;

}
.header .container {
    justify-content: space-between;
    align-items: center;
}
.header .container a{
    width: 8%;
    text-decoration: none;
}
.logo{
    width: 100%;
}
.navbar{
    display: flex;
    justify-content: space-around;;
}
.navbar ul li{
    padding: 20px;
    color: white;
}
.navbar ul li:hover{
    font-weight: bolder;
}
.navbar-logCad{
    width: 25%;
}
ul{
    list-style: none;
} 
li{
    display: inline;
    font-size: 180%;
}
.loginBu{
    background-color: white;
    border: none;
    color: black;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid rgb(0, 0, 0);
    font-weight: 1000;
    border-radius: 8px ;
    cursor: pointer;
    transition-duration: 0.4s;
}
.loginBu:hover {
    background-color: #000000; 
    color: rgb(255, 255, 255);
    border:2px solid rgb(255, 255, 255);
  }
.cadastroBu{
    background-color: rgb(0, 0, 0);
    border: 2px solid white;
    color: rgb(255, 255, 255);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 1000;
    border-radius: 8px ;
    cursor: pointer;
    transition-duration: 0.4s;

}
.cadastroBu:hover {
    background-color: #ffffff; 
    color: rgb(0, 0, 0);
    border:2px solid rgb(255, 255, 255);
  }
  .loginBu a{
      text-decoration: none;
      color:black;
  }
  .loginBu a:hover{
      color:#ffffff
  }
  .cadastroBu a{
    text-decoration: none;
    color:rgb(255, 255, 255);
}
.cadastroBu a:hover{
    color:#000000
}
/*Fim header*/
/*começo do corpo home*/
.corpoHome{
    display:flex
}
.textohome{
    margin-top: 10%;
    width: 45%;
}
.imagenhome{
    margin-left: 2%;
    margin-top: 10%;
    width: 45%;
}
.maiuscula{
    font-size: 300%;
    font-weight: 1000;
    font-family:Arial, Helvetica, sans-serif;
}
.minuscula{
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
}
.btnContato{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px ;
    border: none;
    cursor: pointer; 
    transition-duration: 0.4s;
}
  
  .btnContato:hover {
    background-color: #ffffff; 
    color: rgb(0, 0, 0);
    border:2px solid black;
  }

.imagemBody{
    margin-top:10% ;
    width: 100%;
}
/*fim do corpo da home *
/*começo do footer*/
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    background-color: #f8f9fa;
    color: #b2b5ba;
    justify-content: space-around;
}
/*fim do footer*/
/*começo do login*/
.login{
    display: flex;
}
.login .container{
    justify-content: center;
}
.cardinf{
    display: flex;
    border: 2px solid rgb(0, 0, 0);
    width: 50%;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    border-radius: 4%;
    height: 50%;
    background-color: #c4ccd8;

}
.cardinf input{
    text-align: center;
    width: 70%;
    padding: 12px 20px;
    margin: 5px 0;
    box-sizing: border-box;
    display: flex;
    background-color: aliceblue;
}
.entrarbu{
    margin-top: 6%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid rgb(0, 0, 0);
    font-weight: 700;
    border-radius: 8px ;
    cursor: pointer;
    transition-duration: 0.4s;
}
.entrarbu:hover {
    background-color: #ffffff; 
    color: rgb(0, 0, 0);
    border:2px solid rgb(0, 0, 0);
  }
  h4{
      font-size: 150%;
  }
  h3{
      font-size: 160%;
  }
  h1{
      font-size: 280%;
  }
  h6 a{
      font-size: 130%;
    margin-bottom: 10%;
    color: #000000;
  }
  /*Fim login*/
  /*Começo cadastro*/
  .cadastro{
    display: flex;
}
.cadastro .container{
    justify-content: center;
}
.cardcad{
    display: flex;
    border: 2px solid rgb(0, 0, 0);
    width: 50%;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    border-radius: 4%;
    height: 50%;
    background-color: #c4ccd8;

}
.cardcad input{
    text-align: center;
    width: 70%;
    padding: 12px 20px;
    margin: 5px 0;
    box-sizing: border-box;
    display: flex;
    background-color: aliceblue;
}
.entrarbu{
    margin-top: 6%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid rgb(0, 0, 0);
    font-weight: 700;
    border-radius: 8px ;
    cursor: pointer;
    transition-duration: 0.4s;
    margin-bottom: 3%;
}
.entrarbu:hover {
    background-color: #ffffff; 
    color: rgb(0, 0, 0);
    border:2px solid rgb(0, 0, 0);
  }
  .footercad{
    margin-top: 5%;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    background-color: #f8f9fa;
    color: #b2b5ba;
    justify-content: space-around;
  }