body{
    margin: 0;
    background-color: #000000;
    overflow-x: hidden;
}
.container{
    width: 80vw;
    margin: auto;
    display: flex;
    /* border: 2px solid blue; */
    
}
.header{
    /* border: 2px solid rgb(255, 0, 0); */
    background-color: black;
    display: flex;
}
.header .container{
    display: flex;

}
.logoIMG{
    width: 9vw;
}  
.header .container {
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style: none;
}
li{
    display: inline;
}



.loginBu{
    background-color: white;
    border: none;
    color: black;
    padding: 2.2vh 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid rgb(0, 0, 0);
    font-weight: 1000;
    border-radius: 8px ;
    cursor: pointer;
    transition-duration: 1s;
}
.loginBu:hover {
    background-color: #000000; 
    color: rgb(255, 255, 255);
    border:2px solid rgb(255, 255, 255);
  }
.cadastroBu{
    background-color: rgb(0, 0, 0);
    border: 2px solid white;
    color: rgb(255, 255, 255);
    padding: 2vh 1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 1000;
    border-radius: 8px ;
    cursor: pointer;
    transition-duration: 1s;

}
.cadastroBu:hover {
    background-color: #ffffff; 
    color: rgb(0, 0, 0);
    border:2px solid rgb(255, 255, 255);
  }
/* -------------------------------------------------------------------------------------------------------------------- */

.imgCorpo{
      display: flex;
      justify-content: space-between;
  }
.imagemC{
    display: flex;
    width: 100vw;
    height: 81vh;
    border-bottom: 1px solid #d3b8d4;
    border-top: 1px solid #d3b8d4;
}
.impacto{
    display: flex;
    position: absolute;
    background: rgba(244,217,217,0.05);
    box-shadow: 2px 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    width: 27vw;
    border: 2px solid black;
    padding: 2px 4px;
    margin-top: 17vh;
    margin-left: 1vw;
}
.paragrafo{
    display: flex;
    color: white;
    font-size: 7vh;
    letter-spacing: 0.7vw;
    padding-left: 1vw;
}
p{
    display: flex;
    justify-items: center;
    align-items: center;
}
/* ---------------------------------------------------------------------------------------------------------------------------------- */
footer{
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    color: white;
}

/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* barra de scrol diferente */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #CCCCCC;
}

::-webkit-scrollbar-track {
    background: #CCCCCC;
}
::-webkit-scrollbar-track-piece {
    background: #CCCCCC;
}
::-webkit-scrollbar-thumb {
    background: #333333;
}
