body{
    margin: 0;
    background-color: #000000;
    overflow-x: hidden;
}
.container{
    width: 80vw;
    margin: auto;
    display: flex;
    /* border: 2px solid blue; */
    
}
.header{
    /* border: 2px solid rgb(255, 0, 0); */
    background-color: black;
    position: relative;
    display: flex;
}
.header .container{
    display: flex;

}
.logoIMG{
    width: 8vw;
}  
.header .container {
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style: none;
}
li{
    display: inline;
}



.loginBu{
    background-color: white;
    border: none;
    color: black;
    padding: 2.2vh 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid rgb(0, 0, 0);
    font-weight: 1000;
    border-radius: 8px ;
    cursor: pointer;
    transition-duration: 1s;
}
.loginBu:hover {
    background-color: #000000; 
    color: rgb(255, 255, 255);
    border:2px solid rgb(255, 255, 255);
  }
.cadastroBu{
    background-color: rgb(0, 0, 0);
    border: 2px solid white;
    color: rgb(255, 255, 255);
    padding: 2vh 1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 1000;
    border-radius: 8px ;
    cursor: pointer;
    transition-duration: 1s;

}
.cadastroBu:hover {
    background-color: #ffffff; 
    color: rgb(0, 0, 0);
    border:2px solid rgb(255, 255, 255);
  }

.corpo{
    display:flex;
}

.imgCorpo{
    position: absolute;
    display: flex;
    justify-content: left;
    align-items: center;
    background: url(../Imagens/wal.jpg);
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    
}
.impacto{
    position: relative;
    max-width: 300px;
    padding: 60px;
    margin-left: 150px;
    top: -30px;
    box-shadow: 0 5px 15px rgba(0,0,0,.9);
    overflow: hidden;
    color:#000;
}


.impacto:before{
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    background: url(../Imagens/wal.jpg);
    background-attachment: fixed;
    filter: blur(4px);
}

.impacto p {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 48px;
    color: white;
    z-index: 2;
}

/* barra de scrol diferente */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #CCCCCC;
}

::-webkit-scrollbar-track {
    background: #CCCCCC;
}
::-webkit-scrollbar-track-piece {
    background: #CCCCCC;
}
::-webkit-scrollbar-thumb {
    background: #333333;
}
